@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: ease-in-out .2s;
  scroll-behavior: smooth;
}

body{
 /* background-color: rgba(0,3,85,1);  */
  background: rgb(0,10,255);
  background: radial-gradient(circle, rgba(0,10,255,1) 0%, rgba(0,3,85,1) 53%, rgba(0,10,255,1) 100%);
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: Digits;
  src: url("./assets/fonts/digital-7.ttf");
}

a {
  text-decoration: none;
}

.font-digit{
  font-family: Digits;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(-0px);
    transform: translateX(-0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(-0px);
    transform: translateX(-0px);
  }
}

.btn{
  overflow: hidden;
  position: relative;
}

.btn-icon{
  transition: .3s ease-in-out;
}

.btn:hover .btn-icon{
  border-radius: 100%;
  background-color: #000AFF;
}

.btn::before{
  content: "";
  padding: 12px;
  background: #000355;
  position: absolute;
  bottom: -30px;
  border-radius: 100%;
  transition: ease-in-out .4s;
}
.btn:hover::before{
  transform: scale(2000%);
}